<div class="circular-card-3d-slider-container" >
      <ul class="circular-card-3d-slider-base" >
        <li class="circular-card-3d-slider-item">
          <a href="index.html" class="circular-card-3d-slider-link">
            <p class="circular-card-3d-slider-card-title"><i class="fas fa-cogs"></i>Link</p>
          
            <p class="circular-card-3d-slider-card-content">Descripción.</p>
          </a>
        </li><li class="circular-card-3d-slider-item">
          <a href="index.html" class="circular-card-3d-slider-link">
            <p class="circular-card-3d-slider-card-title"><i class="fas fa-cogs"></i>Link</p>
          
            <p class="circular-card-3d-slider-card-content">Descripción.</p>
          </a>
        </li><li class="circular-card-3d-slider-item">
          <a href="index.html" class="circular-card-3d-slider-link">
            <p class="circular-card-3d-slider-card-title"><i class="fas fa-cogs"></i>Link</p>
          
            <p class="circular-card-3d-slider-card-content">Descripción.</p>
          </a>
        </li>
        <li class="circular-card-3d-slider-item">
          <a href="index.html" class="circular-card-3d-slider-link">
            <p class="circular-card-3d-slider-card-title"><i class="fas fa-cogs"></i>Link</p>
          
            <p class="circular-card-3d-slider-card-content">Descripción.</p>
          </a>
        </li>
        <li class="circular-card-3d-slider-item">
          <a href="index.html" class="circular-card-3d-slider-link">
            <p class="circular-card-3d-slider-card-title"><i class="fas fa-cogs"></i>Link</p>
          
            <p class="circular-card-3d-slider-card-content">Descripción.</p>
          </a>
        </li>
      </ul>
      </div>
